<% 
    layout('layout')
    script('../js/swipe.js')
-%>
<script type="text/javascript">
    <% if(!isAuth) { %>
        location.href = '../views/login';
    <%}%>
    $(document).ready(function(){
        
    });
</script>
<ol>
<%
if(isAuth){
	for(var i = 0 ; i < list.length ; i++) {
%>
	
	<li>
		<div class='listKeywords'>
			<p>Locale : <%=list[i].locale%></p>
			<p>Type : <%=list[i].type%></p>
			<p>Name : <%=list[i].name%></p>
			<p>Memo : <%=list[i].memo%></p>
			<p>regdate : <%=list[i].regdate%></p>
			<p>upddate : <%=list[i].upddate%></p>
		</div>
	</li>
<%
	}
} else {
	
}%>
</ol>